EOD_Manager_Report(2).json
{
  "name": "EOD Manager Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 17 * * 1-5"
            }
          ]
        }
      },
      "id": "b1c2d3e4-0001-4000-8000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "REPLACE_WITH_YOUR_SPREADSHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Dashboard"
        },
        "options": {}
      },
      "id": "b1c2d3e4-0002-4000-8000-000000000002",
      "name": "Read Dashboard",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [460, 300],
      "credentials": {
        "googleApi": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const rows = $input.all().map(i => i.json);\n\nlet tableRows = rows.map(r => {\n  const avg = r['Today\\'s avg %'] || '\\u2014';\n  return `<tr>\n    <td style=\"padding:8px 12px;border-bottom:1px solid #eee\">${r['Name']}</td>\n    <td style=\"padding:8px 12px;border-bottom:1px solid #eee;text-align:center\">${r['Morning'] ?? '\\u2014'}</td>\n    <td style=\"padding:8px 12px;border-bottom:1px solid #eee;text-align:center\">${r['Midday'] ?? '\\u2014'}</td>\n    <td style=\"padding:8px 12px;border-bottom:1px solid #eee;text-align:center\">${r['Evening'] ?? '\\u2014'}</td>\n    <td style=\"padding:8px 12px;border-bottom:1px solid #eee;text-align:center;font-weight:bold\">${avg}</td>\n  </tr>`;\n}).join('');\n\nconst html = `\n<h2 style=\"font-family:sans-serif;margin:0 0 16px\">End-of-day progress summary</h2>\n<table style=\"font-family:sans-serif;font-size:14px;border-collapse:collapse;width:100%;max-width:600px\">\n  <thead>\n    <tr style=\"background:#f5f5f5\">\n      <th style=\"padding:8px 12px;text-align:left\">Employee</th>\n      <th style=\"padding:8px 12px\">Morning</th>\n      <th style=\"padding:8px 12px\">Midday</th>\n      <th style=\"padding:8px 12px\">Evening</th>\n      <th style=\"padding:8px 12px\">Avg %</th>\n    </tr>\n  </thead>\n  <tbody>${tableRows}</tbody>\n</table>\n<p style=\"font-family:sans-serif;font-size:12px;color:#999;margin-top:16px\">Auto-generated by n8n \\u2014 ${new Date().toLocaleDateString('en-IN')}</p>\n`;\n\nreturn [{ json: { summaryHtml: html } }];"
      },
      "id": "b1c2d3e4-0003-4000-8000-000000000003",
      "name": "Build Summary HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "REPLACE_WITH_YOUR_SPREADSHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Config"
        },
        "filtersUI": {},
        "options": {}
      },
      "id": "b1c2d3e4-0004-4000-8000-000000000004",
      "name": "Get Manager Email",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [900, 300],
      "credentials": {
        "googleApi": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json['Manager email'] }}",
        "subject": "=Daily Progress Report \u2014 {{ $now.format('dd MMM yyyy') }}",
        "emailType": "html",
        "message": "={{ $('Build Summary HTML').first().json.summaryHtml }}",
        "options": {}
      },
      "id": "b1c2d3e4-0005-4000-8000-000000000005",
      "name": "Send EOD Email to Manager",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1120, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Dashboard": {
      "main": [
        [
          {
            "node": "Build Summary HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary HTML": {
      "main": [
        [
          {
            "node": "Get Manager Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Manager Email": {
      "main": [
        [
          {
            "node": "Send EOD Email to Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "00000000-0000-4000-8000-000000000002"
}
